{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Login - NOW!</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'event/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="login">
        <h1>Login</h1>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username" required="required">
            <input type="password" name="password" placeholder="Password" required="required">
            <input class="btn btn-primary" type="submit" value="Let me in">
        </form>
        <h2 style="color: white;">Don't have an account? <a href="{% url 'register' %}" style="color: white;">Register here.</a></h2>
    </div>
</body>
</html>
